

.col-md-10 {
	margin-top: 50px;
	background-color: white !important;
}

.main {
	min-height: calc(100vh - 60px);
}

.body-class {
	background-color: grey;
}

.carousel{
	margin-left: 40%;
	width: 60%;
	height: 30%;
}
.carousel .item img{
    margin: 0 auto; /* Align slide image horizontally center */
}
.bs-example{
    margin: 20px;
}

.c_caption {
  position: absolute;
  height: 40px;
  width: 100%;
  bottom: 1px;
  background-color: grey;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
  background: rgba(0,0,0,.7);
  background-color: rgba(0, 0, 0, 0.701961);

}

#carousel-dots {
	padding-bottom: 10px;
}

.white_color {
	color:white;
}
.thosm {
  font-family: Oswald, sans-serif;
  text-align: center;
  color: #333333;
  font-weight: 300;
  line-height: 1em;
}

.thosm_no_align {
  font-family: Oswald, sans-serif;
  color: #333333;
  font-weight: 300;
  line-height: 1em;
}

#footer {
  height: 80px;
  background-color: #3F3D3D;
}

.main-posts {
	float: left;
	margin-left:10px;
	width: 60%;
}

.indiv_post {
	float:left;
	height: 202px;
	width: 100%;
}

.twitter_feed {
	width: 35%;
	float: right;
}

.logo {
	float: left;
	margin-left: 40px;
	margin-top: 10px;
	margin-top: 30px;
	width: 30%;
	height: 30%;
}

.logo_aboutus {
	float: left;
	margin-top: 30px;
	width: 260px;
	height: 260px;
}

.author_pic {
	border-radius: 50%;
	float: left;
	margin-top: 30px;
	margin-left: 2%;
	width: 25%;
	height: 80%;
}
.footer-text-main {
	text-align: center;
	padding-top: 30px;
	color: white
}

.post_description {
	padding-right: 0px;
	margin-top: 10px;
}

#h3 {
	margin-top: 5px;
	margin-bottom: 5px;
}

.text-wrap{
	float: left;
    margin: 10px;
}

.dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    margin-top: -1px;
}

.dropdown-menu li:hover .sub-menu {
    visibility: visible;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.authors{
	width:100%;
	height: 300px;
}

.auth_desc {
	float: right;
	width: 68%;
	height: 200px;
	margin-right: 20px;
	margin-top: 45px;
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
	background-color: #B0C4DE;
	border-radius: 20px;
}

@media only screen and (max-device-width: 640px) {
	.main-posts {
		float: left;
		margin-left:10px;
		width: 100%;
	}

	.indiv_post {
		float:left;
		height: 202px;
		width: 100%;
	}

	.twitter_feed {
		display:none;
	}
	.col-md-10 {
	    background-color:white;
	}

	.row {
		background-color: white;
	}

	.author_pic {
	border-radius: 50%;
	float: left;
	margin-top: 30px;
	margin-left: 2%;
	width: 25%;
	height: 66%;
	}
	.auth_desc {
	float: right;
	width: 68%;
	height: 200px;
	margin-right: 20px;
	margin-top: 25px;
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 20px;
	background-color: #B0C4DE;
	border-radius: 20px;
	}
}
@media only screen and (max-width: 992px) {
	.main-posts {
		float: left;
		margin-left:10px;
		width: 100%;
	}

	.indiv_post {
		float:left;
		height: 202px;
		width: 100%;
	}

	.twitter_feed {
		display:none;
	}
	.col-md-10 {
	    background-color:white;
	}

	.row {
		background-color: white;
	}
	
}
