.col-md-10 {
	margin-top: 50px;
	background-color: white;
}

.main {
	min-height: calc(100vh - 60px);
}

.body-class {
	background-color: grey;
}

#jumbotron {
	margin-top: 30px;
	padding-top: 15px;
	margin-left: 200px;
	margin-right: 200px;
	height: 260px;
}

.thosm {
  font-family: Oswald, sans-serif;
  text-align: center;
  color: #333333;
  font-weight: 300;
  line-height: 1em;
}

.thosm_no_align {
  font-family: Oswald, sans-serif;
  color: #333333;
  font-weight: 300;
  line-height: 1em;
}

#footer {
  height: 80px;
  background-color: #3F3D3D;
}

.main-posts {
	float: left;
	margin-left:10px;
	width: 620px;
}

.indiv_post {
	float:left;
	height: 202px;
	width: 620px;
}

.twitter_feed {
	width: 300px;
	float: right;
}

.logo {
	float: left;
	margin-left: 40px;
	margin-top: 30px;
	width: 260px;
	height: 260px;
}

.footer-text-main {
	text-align: center;
	padding-top: 30px;
	color: white
}

.post_description {
	padding-right: 0px;
	margin-top: 10px;
}

#h3 {
	margin-top: 5px;
	margin-bottom: 5px;
}

.text-wrap{
	float: left;
    margin: 10px;
}

.dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    margin-top: -1px;
}

.dropdown-menu li:hover .sub-menu {
    visibility: visible;
}

.dropdown:hover .dropdown-menu {
    display: block;
}
